<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<!-- 当前表示控制台输出      也可以设置文件输出-->
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%-4relative [%thread] %-5level %logger{35} - %msg %n</pattern>
		</encoder>
	</appender>
	<!-- 当前表示从DEBUG级别开始   也可以设置从其他级别开始(开发阶段一般是DEBUG）-->
	<root level="DEBUG">
		<appender-ref ref="STDOUT" />
	</root>
</configuration>